.container {
  @media screen and (min-width: 1392px) {
    max-width: 1248px;
    width: 1248px;
  }
}

.section {
  outline: none;

  @media screen and (max-width: 768px) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

#hire-me {
  z-index: 100;

  @media screen and (min-width: 769px) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

#logo {
  width: 50px;
  margin: 0 auto;
  display: block;
}

.logo-text {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    margin-top: 1rem;

    @media screen and (max-width: 768px) {
      margin-bottom: 1.5rem;
    }
}

.dots-bg {
  background-image: url('/image/dots.png');
  color: white;


  .title {
    color: inherit;
  }
}

#contact {
  background-color: #1b1b1b;

  @media screen and (min-width: 769px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
