h1, h2, .title, .subtitle {
  font-family: $family-oswald;
}

h1, .title {
  font-weight: 400;
  font-size: 3rem;
}

h2, .subtitle {
  font-weight: 200;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: $family-oswald;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
