$family-sans-serif: 'Raleway', serif;
$text: black;
$text-strong: black;

$num-clients: 6;

// client colors
$baldwin-primary: #333333;
$baldwin-secondary: #515454;

$onzie-primary: #01778f;
$onzie-secondary: #3AA17E;

$firestone-primary: #b42025;
$firestone-secondary: #FF5300;

$cannon-primary: #03dd03;
$cannon-secondary: #009E00;

$urbane-primary: #fe5196;
$urbane-secondary: #f77062;

$blues-primary: #1a62df;
$blues-secondary: #00ebbc;
