$family-sans-serif: 'Raleway', serif;
$text: black;
$text-strong: black;

// client colors
$urbane-primary: #fe5196;
$urbane-secondary: #f77062;

$eco-primary: #761dd6;
$eco-secondary: #1a62df;

$blues-primary: #1a62df;
$blues-secondary: #00ebbc;
