@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
  url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair_displaybold';
  src: url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
  url('../fonts/playfairdisplay-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Fonts
$regular: 'robotoregular';
$condensed: 'roboto_condensedregular';
$playfair: 'playfair_displaybold';

// Colors
$dark-gray: #212121;
$light-gray: #cccccc;
$navy: #003366;
$yellow: #D2C00B;

$brand-primary: $dark-gray;
$brand-secondary: $light-gray;
$brand-tertiary: #083A6B;

// Transitions
$opacity-transition: opacity 0.3s ease;
$color-transition: color 0.3s ease;

body, html {
  background-color: $brand-secondary;
}

h1 {
  font-family: $playfair;
  font-size: 60px;
  color: $brand-tertiary;
}

h2 {
  font-family: $condensed;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $brand-secondary;
}

section:nth-of-type(even) {
  background-color: $brand-tertiary;
}

section:nth-of-type(odd) {
  background-color: #4a4a4a;
}

section {
  border-top: 1px solid black;

  > * {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

header {
  height: 100px;

  @media only screen and (max-width: 767px) {
    height: auto;
  }

  a {

    &:hover {
      text-decoration: none;
    }

    h1 {
      vertical-align: middle;
      text-align: center;
      transition: $opacity-transition;

      &:hover{
        opacity: 0.8;
      }

      @media only screen and (max-width: 991px) {
        font-size: 50px;
      }

      @media only screen and (max-width: 550px) {
        font-size: 35px;
      }
    }
  }
}

#work {
  h2 {
    margin-top: 0;
  }

  [class*="col-"] {
    background-clip: padding-box;
    border: 10px solid transparent;
  }

  .work-container {
    height: 300px;
    background-color: $brand-primary;


    > img {
      display: block;
      margin: auto;
      vertical-align: middle;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
      width: 80%;
    }

    #blues {
      height: 80%;
      width: auto;
    }

    #alpha {
      height: 80%;
      width: auto;
    }

    #cso {
      height: 80%;
    }

    #ctts {
      height: 80%;
    }

    #slotog {
      @media only screen and (max-width: 767px) {
        height: 80%;
      }
    }

    .visit-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
      background-color: white;
      opacity: 0;
      transition: $opacity-transition;

      &:hover {
        opacity: 0.8;
      }

      h2 {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $brand-primary;
        opacity: 1;
      }
    }
  }
}

#about {
  p {
    color: $brand-secondary;
    font-size: 16px;
    font-family: $regular;
    letter-spacing: 1px;
  }
}

#contact {
  ul {
    list-style-type: none;
    padding-left: 15px;

    @media only screen and (max-width: 550px) {
      padding-left: 0;
    }

    li {
      padding-top: 5px;
      padding-bottom: 5px;

      @media only screen and (max-width: 550px) {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      a {
        letter-spacing: 1px;
        font-size: 18px;
        font-family: $regular;
        color: $brand-secondary;
        transition: $color-transition;

        &:hover {
          color: $yellow;
          text-decoration: none;
        }

        i {
          color: $yellow;
          padding-right: 15px;
          text-align: center;
          width: 40px;
          font-size: 22px;

          @media only screen and (max-width: 550px) {
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  body {
    text-align: center;
  }
}
